.mainHeader {
    background-color: #123456;
    color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerHold {
    /* background-color: gray; */
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
}

.navDivs {
    /* background-color: green; */
    width: 30%;
    height: 50px;
    font-weight: 700;  
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Navigation {
    transition: all 350ms;
}

.Navigation:hover {
    color: skyblue;
    cursor: pointer;
    transform: scale(1.1);
}

.Navigation span {
    margin-right: 7px;
}



Form {
    background-color: #123456;
    color: #fff;
    font-weight: 700;
    font-size: larger;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

